.form_register {
    display: flex;
    flex-direction: column;
}

.subtitle_register {
    color: var(--gray);
    margin: 0 0 10px 0;
}

.center_main_register {
    max-width: 300px;
    margin: 2em auto;
    padding: 0 10px;
}

.subtitle_form_register {
    color: var(--blue);
    margin: 5px 0;
    padding: 0 0 2px 0;
    border-bottom: 1px solid var(--blue);
}