.center_main {
    max-width: 1100px;
    margin: 2em  auto;
}

.form_update_password {
    width: 400px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex_is_update {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}