.center_login {
    width: 98vw;
    height: calc(100vh - 60px);

    display: flex;
}

.banner_login {
    width: 60%;
}

.image_banner_login {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form_login {
    width: 40%;
    padding: 3em;

    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

.title_login {
    color: var(--gray);
    margin: 0 0 1em 0;
    font-size: var(--font-size-title);
}

.form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-shrink: 20px;
}

.message {
    margin: 5px 0 0 0;
    font-size: 15px;
    color: #d30000;
}

.link {
    text-decoration: none;
    /* text-align: center; */
    color: var(--blue);
    margin: 20px 0 0 0;
}

.link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .center_login {
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    .banner_login {
        width: 100%;
    }

    .title_login {
        font-size: 2em;
    }

    .form_login {
        position: absolute;
        top: 70px;
        background: #ffffff;
        border-radius: 5px;
        width: 80%;
    }
}