.input {
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: var(--font-size);
    border: 1px solid var(--blue);
    border-radius: var(--border-radius);
    color: var(--gray);
    outline: none;

    transition: ease-in 50ms;
}

.input::placeholder {
    color: var(--blue);
}

.input:focus {
    outline: 2px solid var(--blue-shadow);
}