.link_switch_chat {
    text-decoration: none;
    background: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.link_switch_chat:active {
    background: rgba(15, 58, 99, 0.1);
}

.header_swith_chat {
    padding: 10px;
    background: var(--blue);
    color: #FFFF;
}

.image_chat_service {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.image_chat_user {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin: 0 10px 0 0;
}

.chat_user {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_user_switch_chat {
    display: flex;
    align-items: center;
}