.center_main_send_email {
    max-width: 1200px;
    height: 100vh;
    padding: 0 20px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_send_email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_send_email {
    font-size: 2.5em;
    color: #3b3b3b;
    margin: 0 0 10px 0;
}

.icon_email {
    width: 200px;
    fill: #4646461a;
}

.paragraph_send_email {
    font-size: 17px;
    max-width: 400px;
    margin: 0 0 10px 0;
    padding: 10px;
    background: #ebebeb;
    color: #3b3b3b;
}

.form_send_email {
    width: 400px;
    display: flex;
    flex-direction: column;
    /* align-items:     flex-start; */
}